.heart {
    font-size: 2rem;
    color: rgb(211, 0, 0);
    margin: 0 5px;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  
  .star {
    font-size: 1.5em; /* Adjust size as needed */
    color: yellow;
  }
  
  .heart-animate, .star-animate {
    animation: pop 0.4s ease-out;
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes spreadCards {
    0% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  .computer-card-container {
    display: flex;
    gap: 0px; /* 重ねるためにgapを0に設定 */
    justify-content: flex-start;
    position: relative;
    width: 100%;
    max-width: 300px; /* 横に展開する幅 */
    margin-top: 20px;
    transform: translateX(-35px);
  }
  
  .player-card-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    transform: translateX(25px);
  }
  

  .computer-card {
    opacity: 0;
    animation: spreadCards 0.2s ease-out forwards;
  }
  
  .computer-card:nth-child(1) {
    animation-delay: 0s;
  }
  
  .computer-card:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .computer-card:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .card-slide-in {
    animation: slideInFromTop 0.6s ease-out forwards;
  }
  
  @keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }