.heart {
    font-size: 1.4rem;
    color: rgb(211, 0, 0);
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  
  .star {
    font-size: 1.4em; /* Adjust size as needed */
    color: yellow;
  }
  
  .heart-animate, .star-animate {
    animation: pop 0.4s ease-out;
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes spreadCards {
    0% {
      transform: translateX(-100%) scale(0.8);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  
  .computer-card-container {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    margin: 2rem;
  }
  
  .player-card-container {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    margin: 2rem;
  }
  

  .computer-card {
    opacity: 0;
    animation: spreadCards 0.2s ease-out forwards;
  }
  
  .computer-card:nth-child(1) {
    animation-delay: 0s;
  }
  
  .computer-card:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .computer-card:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .card-slide-in {
    animation: slideInFromTop 0.6s ease-out forwards;
  }
  
  .slide-in {
    animation: slideInFromRight 0.6s ease-out forwards;
  }
  

  @keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-8rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .enemy-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .fade-in-blur {
    animation: fadeInBlur 1.2s ease-out forwards;
  }
  
  @keyframes fadeInBlur {
    0% {
      opacity: 0;
      filter: blur(0.5rem);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }