/* Overlay の背景 */
.overlay {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 内側のカードコンテナ */
  .result-window {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .result-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
  }
  
  .choice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .result-text {
    font-size: 1.5em;
    font-weight: bold;
    margin:0px;
    animation: fadeInAndScale 0.7s ease forwards;
  }
  
  /* アニメーション */
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInAndScale {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .choice-player {
    animation: slideInFromBottom 0.5s ease forwards;
  }
  
  .choice-computer {
    animation: slideInFromTop 0.5s ease forwards;
  }
  
  .result-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    animation: pop 0.3s ease-out;
  }
  
  /* ★ アイコンのスタイル */
  .star-icon {
    color: gold;
    font-weight: bold;
    font-size: 3rem;
    animation: starPop 0.5s ease-out;
  }
  
  /* ❤ アイコンのスタイル */
  .heart-icon {
    color: red;
    font-weight: bold;
    font-size: 3rem;
    animation: heartBeat 0.5s ease-out;
  }

  .plus-minus {
    color: black;
    font-size: 2rem;
    
  }
  
  /* アニメーション */
  @keyframes starPop {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes heartBeat {
    0% {
      transform: scale(0.8);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }